#container {
  text-align: center;
}
h4 {
  margin: auto;
  width: 30%;
}
.guide {
  display: block;
  align-items: center;
  padding: 0 30%;
  text-align: center;
}
.game {
  width: 25%;
  border: 2px solid gray;
  border-radius: 30px;
  margin: 70px auto;
}
.input {
  display: block;
  margin: 20px 0;
}
.input label {
  display: block;
  padding: 10px 0;
}
.input button {
  display: block;
  margin: 20px auto;
}
.text {
  margin: auto auto;
  border: 2px solid gray;
  border-radius: 10px;
  width: 20%;
}
